<acl>
    <page-services-nclink>
        <name>Services: NC-Link</name>
        <patterns>
            <pattern>ui/nclink*</pattern>
            <pattern>ui/NCLink*</pattern>
            <pattern>api/nclink/*</pattern>
            <pattern>api/NCLink/*</pattern>
        </patterns>
    </page-services-nclink>
</acl>
